- @title = 'Submission'
.uk-container
  .uk-grid.uk-grid-match data-uk-grid-margin=""
    .uk-width-large-1-6.center
    .uk-width-large-4-6.left
      h1.left#page-title FileUpload
    .uk-width-large-1-6.center
    /２段目
    .uk-width-large-1-6.center
    .uk-width-large-4-6.left
      = form_for @album do |f|
        .uk-form-controls
          .uk-placeholder.center#upload-drop
            i.uk-icon-cloud-upload.uk-icon-medium.uk-text-center
            | 　Attach binaries by dropping them here or　
            a.uk-form-file.uk-badge
              | selecting one
              = token_tag
              input.upload-select type='file' name='album[zip]' id='album_zip'
            .uk-hidden.uk-progress#progressbar
              .uk-progress-bar style='width: 0%;'
    .uk-width-large-1-6.center
javascript:
  $(function(){
    function sleep(time, callback) {
      setTimeout(callback, time);
    }
    var progressbar = $("#progressbar"),
      bar         = progressbar.find('.uk-progress-bar'),
      settings    = {

        action: '#{albums_path}',
        allow : '*.zip',

        loadstart: function() {
          bar.css("width", "0%").text("");
            progressbar.removeClass("uk-hidden");
        },

        progress: function(percent) {
          percent = Math.ceil(percent);
            bar.css("width", percent+"%").text("");
        },

        allcomplete: function(response) {
          bar.css("width", "100%").text("");
          setTimeout(function(){
            progressbar.addClass("uk-hidden");
          }, 2000);
          UIkit.notify({message: 'success', timeout: 1000});
          $('#upload-drop').text('uploaded');
          sleep(1000, function() {
            $(location).attr('href', '#{root_path}')
          });
        }
      };

      var select = UIkit.uploadSelect($("input.upload-select"), settings),
            drop = UIkit.uploadDrop($("#upload-drop"), settings);
  });

