- @title = 'Submission'
.uk-container
  .uk-grid.uk-grid-match data-uk-grid-margin=""
    .uk-width-large-2-6.center
    .uk-width-large-4-6.left
      h1.left#page-title FileUpload
    /２段目
    .uk-width-large-2-6.center
    .uk-width-large-4-6.left
      = form_for @album do |f|
        .uk-form-controls
          .uk-placeholder.center#upload-drop
            i.uk-icon-cloud-upload.uk-icon-medium.uk-text-center
            | 　Attach binaries by dropping them here or　
            a.uk-form-file.uk-badge
              | selecting one
              = token_tag
              input.upload-select type='file' name='album[zip]' id='album_zip'
            .uk-hidden.uk-progress#progressbar
              .uk-progress-bar style='width: 0%;'
          .uk-button-group
            button.uk-button.uk-button-primary
              = fa_icon 'floppy-o', text: 'Submit'
            button.uk-button.uk-button-close
              = fa_icon 'times', text: 'Cancel'
javascript:
  $(function(){

    var progressbar = $("#progressbar"),
      bar         = progressbar.find('.uk-progress-bar'),
      settings    = {

        action: '/albums',
        allow : '*.zip',

        loadstart: function() {
          bar.css("width", "0%").text("0%");
            progressbar.removeClass("uk-hidden");
        },

        progress: function(percent) {
          percent = Math.ceil(percent);
            bar.css("width", percent+"%").text(percent+"%");
        },

        allcomplete: function(response) {
          bar.css("width", "100%").text("100%");
            setTimeout(function(){
              progressbar.addClass("uk-hidden");
            }, 3000);
            UIkit.notify({message: 'success', timeout: 3000});
            $('#upload-drop').next('uploaded')
        }
      };

      var select = UIkit.uploadSelect($("input.upload-select"), settings),
            drop = UIkit.uploadDrop($("#upload-drop"), settings);
  });

